{% extends 'base.html.twig' %}

{% block body %}
<h1>Consignes</h1>

<p>
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
</p>
<p>
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
</p>
<p>
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
</p>
<p>
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
    Blha Blha Blha Blha Blha Blha Blha Blha Blha Blha 
</p>
{% endblock %}